n8n-consultation-bot.json
{
  "name": "MIK Consultation → Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mik-consultation",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "mik-consultation"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TG_CHAT_ID }}",
        "text": "=📩 Новая заявка на консультацию\n\n👤 ФИО: {{ $json.body.name }}\n{{ $json.body.contact ? '📧 Контакт: ' + $json.body.contact + '\\n' : '' }}{{ $json.body.dept ? '🏢 Подразделение: ' + $json.body.dept + '\\n' : '' }}{{ $json.body.type ? '📋 Формат: ' + $json.body.type + '\\n' : '' }}{{ $json.body.comment ? '💬 Комментарий: ' + $json.body.comment + '\\n' : '' }}\n📍 Источник: {{ $json.body.source === 'profile' ? 'Личный кабинет' : 'Страница обучения' }}",
        "additionalFields": {}
      },
      "id": "telegram-1",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [480, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [710, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
